!!!
%html.mdl-js{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %link{:href => "assets/favicon.ico", :rel => "icon"}/
    %link{:href => "assets/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/styles.css", :rel => "stylesheet"}/
    %script{:src => "assets/js/jquery.min.js"}
    %script{:src => "assets/js/bootstrap.min.js"}
    %title Codebreaker Web
  %body
    %section#introduction
      .container
        .row.fill-viewport.align-items-center.justify-content-center
          .col-12.col-md-6
            .row
              .col-md-auto
                %h1.text-white.title= I18n.t('introduction')
            - if errors?
              .row
                - output_errors.each do |error|
                  .alert.alert-danger{:role => "alert"}= error
                  - clear_errors
            %p.lead.text-white-70
              = "Hello, #{@request.session[:player].name}!"
              = I18n.t('description')
            %hr.mb-4/
            .row
              .col.button
                %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
                  = I18n.t('game_page.level')
                  %span.badge.badge-light
                    = @request.session[:difficulty].level[:level].capitalize
              .col.text-center.button
                %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
                  = I18n.t('game_page.attempts')
                  %span.badge.badge-light= @request.session[:difficulty].level[:attempts] - @request.session[:game].used_attempts
              .col.button
                %button.btn.btn-primary.float-right{:disabled => "disabled", :type => "button"}
                  = I18n.t('game_page.hints')
                  %span.badge.badge-light= @request.session[:difficulty].level[:hints] - @request.session[:game].used_hints
            %hr.mb-4/
            %form{:action => "/guess", :method => "post"}
              .form-group
                %input.form-control.guess_input{:autocomplete => "off", :name => "guess_code", :placeholder => "1234"}/
              .form-group.guess_markers_list
                #guess_marker
                  %button.btn.btn-success.marks{:disabled => "disabled", :type => "button"} +
                  %button.btn.btn-primary.marks{:disabled => "disabled", :type => "button"} -
                  %button.btn.btn-danger.marks{:disabled => "disabled", :type => "button"} x
                  %button.btn.btn-danger.marks{:disabled => "disabled", :type => "button"} x
              %hr.mb-4/
              %button.btn.btn-primary.btn-lg{:type => "submit"}
                = I18n.t('game_page.submit')
              %a{class: "btn btn-warning btn-lg float-right #{'disabled' if hints_available?}", href: "/use_hint", role: "button"}
                = I18n.t('game_page.take_hint')
                - if @request.session.key?(:hints)
                  - @request.session[:hints].each do |hint|
                    %span.badge.badge-light
                      = hint
