.row
  .col.button
    %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
      = I18n.t('game_page.level')
      %span.badge.badge-light
        = @request.session[:difficulty].level[:level].capitalize
    %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
      = I18n.t('win_page.attempts_left')
      %span.badge.badge-light
        = @request.session[:difficulty].level[:attempts] - @request.session[:game].used_attempts
    %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
      = I18n.t('win_page.hints_left')
      %span.badge.badge-light
        = @request.session[:difficulty].level[:hints] - @request.session[:game].used_hints
%hr.mb-4/
.row
  .text-center
    .text-center
      %h3.text-white
        = I18n.t('lose_page.lose_text', name: @request.session[:player].name)
      %h4.text-white
        = I18n.t('lose_page.secret_code')
        %strong= @request.session[:game].secret_code.join
    %img.img-fluid{:alt => "You lose the game!", :src => "assets/images/lost.gif"}/
%hr.mb-4/
%a.btn.btn-primary.btn-lg{:href => "/", :role => "button"}= I18n.t('win_page.play_again')
%a.btn.btn-success.btn-lg.float-right{:href => "/statistics", :role => "button"}= I18n.t('statistics')
- @session.clear
