!!!
%html.mdl-js{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %link{:href => "assets/favicon.ico", :rel => "icon"}/
    %link{:href => "assets/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/styles.css", :rel => "stylesheet"}/
    %script{:src => "assets/js/jquery.min.js"}
    %script{:src => "assets/js/bootstrap.min.js"}
    %title Statistics
  %body
    %section#introduction
      .container
        .row.fill-viewport.align-items-center.justify-content-center
          .col-12.col-md-10
            .row
              .col-md-auto
                %h1.text-white.title= I18n.t('introduction')
            %p.lead.text-white-70= I18n.t('top_of_players')
            %hr.mb-4/
            - if load_statistics.empty?
              %p.text-center.lead.text-white-70= I18n.t('empty_statistics')
            - else
              .table-responsive-md.scores
                %table.table.table-striped.table.table-md
                  %thead
                    %tr
                      %th{:scope => "col"}= I18n.t('table.hashtag')
                      %th{:scope => "col"}= I18n.t('table.name')
                      %th{:scope => "col"}= I18n.t('table.level')
                      %th{:scope => "col"}= I18n.t('table.total_attempts')
                      %th{:scope => "col"}= I18n.t('table.used_attempts')
                      %th{:scope => "col"}= I18n.t('table.total_hints')
                      %th{:scope => "col"}= I18n.t('table.used_hints')
                    %tbody
                      - load_statistics.each_with_index do |record, index|
                        %tr
                          %th{:scope => "row"}= index + 1
                          %td= record[:name]
                          %td= record[:difficulty].capitalize
                          %td= record[:total_attempts]
                          %td= record[:used_attempts]
                          %td= record[:total_hints]
                          %td= record[:used_attempts]
            %hr.mb-4/
            %a.btn.btn-primary.btn-lg{:href => "/", :role => "button"}= I18n.t('home')
