%p.lead.text-white-70= I18n.t('statistics_page.top')
%hr.mb-4/
.table-responsive-md.scores
  %table.table.table-striped.table.table-md
    %thead
      %tr
        %th{:scope => "col"}= I18n.t('table.hashtag')
        %th{:scope => "col"}= I18n.t('table.name')
        %th{:scope => "col"}= I18n.t('table.level')
        %th{:scope => "col"}= I18n.t('table.total_attempts')
        %th{:scope => "col"}= I18n.t('table.used_attempts')
        %th{:scope => "col"}= I18n.t('table.total_hints')
        %th{:scope => "col"}= I18n.t('table.used_hints')
      %tbody
      - if load_statistics.empty?
        %tr
          %p.text-center.lead.text-white-70= I18n.t('statistics_page.empty')
      - else
        - load_statistics.each_with_index do |record, index|
          %tr
            %th{:scope => "row"}= index + 1
            %td= record[:name]
            %td= record[:difficulty].capitalize
            %td= record[:total_attempts]
            %td= record[:used_attempts]
            %td= record[:total_hints]
            %td= record[:used_attempts]
%hr.mb-4/
= render_partial(:home_btn)
